<a href="https://colab.research.google.com/github/Rafaelfyh/Projeto1-rafael-deveaprender/blob/main/Rafael_Queiroz_Lista_Extra_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios - Python

1) Imprima a frase "Eu sou Dexteeer!"

In [ ]:
 #Imprimir

print('Eu sou Dexteer!')

Eu sou Dexteer!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [ ]:
# soma
7+8

15

In [ ]:
# subtração

7-8

-1

In [ ]:
# multiplicação
7*8

56

In [ ]:
# divisão
7/8

0.875

3) Imprima o tipo de um determinado valor inteiro.

In [ ]:
# número do tipo int
a = 9
print(a)
print(type(a))

9
<class 'int'>

4) Converta o valor passado anteriormente para o tipo float

In [ ]:
# float

a = 9
print(float(a))

9.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [ ]:
# string

a = 9.0
print(str(a))

9.0

6) Utilizando funções de arredonamento faça:

> Bloco com recuo


- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [ ]:
# round

a = 2.898
b = 2.4545455

print(round(a))
print(f'{round(b,4)}')

3
2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [ ]:
# variaveis

primeiroNome = 'Rafael'
sobrenome = 'Queiroz'
nome = primeiroNome + ' ' + sobrenome

print(nome)

# email e Idade

idade = '28'
email = 'queiroz_rafael@hotmail.com'

print( idade, email)

Rafael Queiroz
28 queiroz_rafael@hotmail.com

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [ ]:
break é uma palavra reservada, não pode ser ultilizada para atribuição de variáveis.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [ ]:
a = 'Python é uma maldição!'
print(a[0:1]) 
print(a[0:6])
print(len(a))
d = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados'
d.count('dados')
d.capitalize()
print(d.capitalize ())
d.split(sep=',')
print(d.split(sep=','))

P
Python
22
Dados é o novo petróleo, em deus eu confio, para o resto me traga dados
['dados é o novo petróleo', ' em Deus eu confio', ' para o resto me traga dados']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [ ]:
# list

#Cria uma lista de valores inteiros com o nome idades.
l1 = [26, 28, 32, 40, 45]
print(l1)
#Imprima apenas segundo elemento da lista.
l1[1]
print(l1[1])
#Imprima a contagem de valores da lista.
qtdOriginal = len(l1)
print(qtdOriginal)
#Substitua o valor do segundo elemento da lista e imprima o resultado.
l1[1] = 4
print(l1)
#Imprima apenas os valores do segundo elemento em diante.
l1[1:]
print(l1[1:])
#Remova qualquer elemento da lista e imprima o resultado.
l1.remove(40)
print(l1)

#lista de salario
#Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000
lista = [900, 1200, 1500,800, 12587, 10000]
print(lista)
#Verifique se contém o valor 10000 na lista de salarios.
valor_que_eu_quero = 10000
   
if valor_que_eu_quero in lista:
	print('achou')
else:
	print('não achou')


#Adicione o valor 7000 a lista.
lista.append(7000)
#Extenda a lista com dois novos elementos utilizando apenas um método.
l2 = [1020,3020]
lista.extend(l2)

#Imprima o índice do elemento de valor 800 da lista de salarios.
lista.index(800)
#Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.
sort1 = sorted(lista)
print(sort1)
sort2 = lista.sort()
print(sort2)
print(lista)
lista.sort(reverse = True)
print(lista)

[26, 28, 32, 40, 45]
28
5
[26, 4, 32, 40, 45]
[4, 32, 40, 45]
[26, 4, 32, 45]
[900, 1200, 1500, 800, 12587, 10000]
achou
[800, 900, 1020, 1200, 1500, 3020, 7000, 10000, 12587]
None
[800, 900, 1020, 1200, 1500, 3020, 7000, 10000, 12587]
[12587, 10000, 7000, 3020, 1500, 1200, 1020, 900, 800]